.productSimilarSliderListActive {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(400px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


